In [8]:
name = 'Tu Ngo'
age = 21
print(name)
print(age)

Tu Ngo
21

In [16]:
name, age = age, name 
print(age)
print(name)

Tu Ngo
21

In [20]:
a = 5
b = 5.0 
c = "5"
d = [5]
e = (5,)
f = {5}
g = True 

print (type (a))
print (type (b))
print (type (c))
print (type (d))
print (type (e))
print (type (f))
print (type (g))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'bool'>

In [22]:
is_student = True 
print (is_student)

True

In [23]:
add = 15 + 23
subtract = 34 - 50
multiply = 8 * 7 
divide = 100 / 4
print(add)
print(subtract)
print(multiply)
print(divide)

38
-16
56
25.0

In [24]:
a = 10
b = 5 
remainder = a % b
power = a ** b
print (remainder)
print (power)

0
100000

In [1]:
string_number = '123'
int_number = int(string_number)
print(int_number)

123

In [2]:
int_num = 456
string_convert = str(int_num)
print(string_convert)

456

In [3]:
float_num = 78.9
int_val = int(float_num)
print(int_val)

78

In [7]:
string_a = 'Python '
string_b = 'Rocks '
beans = string_a + string_b
print(beans, sep='')

Python Rocks

In [9]:
string_c = 'Hello '
beans_two = string_c * 3
print(beans_two, sep='')

Hello Hello Hello

In [19]:
x = 5
y = 10
z = 15

x = z - x   
z = z - y   
y = x + z

print(x)
print(y)
print(z)

10
15
5