Create a Series:

Create a Series named fruits with the data: 'apple', 'banana', 'cherry', 'date', and assign it an index of 'a', 'b', 'c', 'd' respectively.
Print the Series.
Print the Index of the series.

Accessing Elements:
Print the second ("b") element of the fruits Series.

In [6]:
import pandas as pd

In [14]:
fruit = pd.Series(["apple", "banana", "cherry","date"], index=["a", "b", "c", "d"])
print("series: ")
print(fruit)

series:
a     apple
b    banana
c    cherry
d      date
dtype: object

In [17]:
print(fruit.index)

Index(['a', 'b', 'c', 'd'], dtype='object')

In [18]:
print(fruit["b"])

banana

Series Operations:

Create a Series with the squares of the numbers 1 through 5.
Add 10 to each item in the series (hint: there a method to this madness).

In [20]:
squares = pd.Series([1, 4, 9, 16, 25])
plus_ten = squares + 10
print(plus_ten)

0    11
1    14
2    19
3    26
4    35
dtype: int64

Create a DataFrame:

Create a DataFrame named students with the columns: 'Name', 'Age', 'Grade'.
Populate it with data for three fictional students.

In [22]:
student = {"Name": ["Tu", "Dylan", "Kush"],
           "Age": [22, 22, 22],
           "Grade": ["A", "D", "A"]}
student = pd.DataFrame(student)

Accessing Data:
Print the Name column of the students DataFrame.

DataFrame Operations:
Add a new column to the students DataFrame named Graduated, which should be True if the student's grade is 'A' and False otherwise.
Print the updated DataFrame.

In [23]:
print(student["Name"])

0       Tu
1    Dylan
2     Kush
Name: Name, dtype: object

In [24]:
student["Graduated"] = student["Grade"] == "A"
print(student)

    Name  Age Grade  Graduated
0     Tu   22     A       True
1  Dylan   22     D      False
2   Kush   22     A       True

Maths:
Calculate and print the average age of the students.

Sorting:
Sort the students DataFrame based on the Age column in descending order and print it.

Tidy Data.
Re-make the cognitive health data frame from class so it is "tidy", with each column as variable and each row an observation.

Compute the mean and standard deviation of all variables.

Compute the mean and standard error for the happiness variable (there might even be a method for computing standard error...).

In [25]:
average_age = student["Age"].mean()
print(average_age)

22.0

In [26]:
sorted = student.sort_values(by="Age", ascending=False)
print(sorted)

    Name  Age Grade  Graduated
0     Tu   22     A       True
1  Dylan   22     D      False
2   Kush   22     A       True

In [21]:
import pandas as pd

data_cogHealth = {
    "happyness":[10],
    "language":[2],
    "energy":[5], 
    "memory":[3]
}

In [22]:
cognitive_health_df = pd.DataFrame.from_dict(cognitive_health, orient='index', columns=['Value'])

In [23]:
mean_val = cognitive_health_df.mean()
std_val = cognitive_health_df.std()
print(mean_val)
print(std_val)

Value    5.0
dtype: float64
Value    3.559026
dtype: float64

In [24]:
mean_happiness = cognitive_health_df.loc["happyness", "Value"]
print(mean_happiness)
std_happyness = cognitive_health_df.loc["happyness", "Value"] / len(cognitive_health_df)
print(std_happyness)

10
2.5