#### 1. Indexing Strings:

Given the string `s = "PYTHON"`, retrieve and print the following:

1.  The first character  
2.  The last character  
3.  The string “H”  
4.  The `type` of “H”

In [11]:
s = 'PYTHON'
first_letter = s[0]
print(first_letter)
last_letter = s[5]
print(last_letter)
third_letter = s[3]
print(third_letter)

P
N
H

#### 2. Indexing Tuples:

Given the tuple `t = (10, 20, 30, 40, 50, 60)`, retrieve and print the
following:

1.  The first element  
2.  The third element
3.  (Try to) Set the 3rd element to `30.4`

In [14]:
t = (10, 20, 30, 40, 50, 60)
first_element = s[0]
last_element = s[5]
# t[2] = 30.4 (casues a typeError)
print(first_element)
print(last_element)

TypeError: 'tuple' object does not support item assignment

#### 3. Indexing Lists and Lists of Lists:

Given the list `lst = [5, 15, 25, [35, 45, [55, 65, 75], 85], 95]`,
retrieve and print the following:

1.  The first element  
2.  The last element  
3.  The sublist `[55, 65, 75]`
4.  The number `65`

In [17]:
lst = [5, 15, 25, [35, 45, [55, 65, 75], 85], 95]
first_e = s[0]
print(first_e)
last_e = s[-1]
print(last_e)
sublist = lst[3][2]
print(sublist)
six_five = lst[3][2][1]
print(six_five)

P
N
[55, 65, 75]
65

#### 4. Lists of Lists as Arrays:

Consider a 3x3 matrix represented as a list of lists:

``` python
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
```

1.  Retrieve the second row.  
2.  Retrieve the third column.  
3.  Change the center element to 0 and print the modified matrix.

In [26]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
second_row = matrix[1]
print(second_row)
third_col = [row[2] for row in matrix]
print(third_col)
matrix[1][1] = 0
for row in matrix:
    print(row)

[4, 5, 6]
[3, 6, 9]
[1, 2, 3]
[4, 0, 6]
[7, 8, 9]

#### 5. Using Sets:

Given two lists `A = [1, 2, 2, 3, 4, 4, 5]` and
`B = [4, 5, 5, 6, 7, 7,  8]`:

1.  Create sets from both lists.  
2.  Find the union of the two sets.  
3.  Find the intersection of the two sets.  
4.  Find the elements that are in A but not in B.
5.  Find the elements that are in A or B but not both.

In [30]:
A = [1, 2, 2, 3, 4, 4, 5] 
B = [4, 5, 5, 6, 7, 7, 8]

set_A = set(A)
set_B = set(B)

union = set_A.union(set_B)
intersection = set_A.intersection(set_B)
not_B = set_A.difference(set_B)
A_or_B = set_A.symmetric_difference(set_B)

print(union)
print(intersection)
print(not_B)
print(A_or_B)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}

#### 6. Working with Dictionaries:

Consider the following dictionary that represents the stock of items in
a store:

``` python
stock = {
    "apple": 50,
    "banana": 25,
    "orange": 30,
    "grape": 45
}
```

1.  Retrieve the stock of `apple`.  
2.  Add a new fruit, `pear`, with a stock of 40.  
3.  Update the stock of `banana` to 30.  
4.  Remove `orange` from the stock.

In [34]:
stock = {
    "apple": 50,
    "banana": 25,
    "orange": 30,
    "grape": 45
}

get_stock = stock.get('apple')
print(get_stock)
stock['pear'] = 40
print(stock)
stock['banana'] = 30
print(stock)
if 'orange' in stock: 
    del stock['orange']
print(stock)

50
{'apple': 50, 'banana': 25, 'orange': 30, 'grape': 45, 'pear': 40}
{'apple': 50, 'banana': 30, 'orange': 30, 'grape': 45, 'pear': 40}
{'apple': 50, 'banana': 30, 'grape': 45, 'pear': 40}